<div class="container">
    <h1>Add an Event</h1>
    <div class="main">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

        <!-- First form  -->

    <mat-step [stepControl]="basic">
        <form [formGroup]="basic" id="event-info">
        <ng-template matStepLabel>Fill out event information</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
            <mat-error class="error" *ngIf="basic.controls['title'].hasError('required')">Title is required</mat-error>
        </mat-form-field>
         <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker" min="{{defaultDate | date: 'yyyy-MM-dd'}}" formControlName="date" placeholder="{{defaultDate | date:'MM/dd/yyyy'}}">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="error" *ngIf="basic.controls['date'].hasError('required')">Date is required</mat-error>
        </mat-form-field>
         <mat-form-field appearance="fill">
           <input matInput
           name="selected_time_A" formControlName="time" [ngxMatTimepicker]="pickerA" placeholder="8:00 AM" readonly min="8:00 AM" max="10:00 PM" />
        <mat-icon matSuffix (click)="pickerA.open()">watch_later </mat-icon>
        <mat-hint>Please select time between 8:00 AM to 10:00 PM</mat-hint>
        <mat-error class="error" *ngIf="basic.controls['time'].hasError('required')">Time is required</mat-error>
        </mat-form-field>
        <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>
         <mat-form-field appearance="fill">
            <mat-label>Venue</mat-label>
            <input matInput placeholder="Eg, XYZ Street" formControlName="venue" required>
            <mat-error class="error" *ngIf="basic.controls['venue'].hasError('required')">Venue name is required</mat-error>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext mat-raised-button>Next</button>
        </div>
        </form>
    </mat-step>
    <!-- Second form -->
    <mat-step [stepControl]="secondry">
        <form [formGroup]="secondry" id="event-info">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="upload-image">
            <label for="">Select an image</label>
            <input type="file" class="file-input" formControlName="image">
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Oragnizer name</mat-label>
            <input matInput placeholder="Organizer name" required formControlName="organizer">
            <mat-error class="error" *ngIf="secondry.controls['organizer'].hasError('required')">Organizer's name is required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Total Seats</mat-label>
            <input matInput placeholder="eg 62" required formControlName="seats">
            <mat-error class="error" *ngIf="secondry.controls['seats'].hasError('required')">Total seats is required</mat-error>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious mat-raised-button>Back</button>
            <button mat-button matStepperNext mat-raised-button>Next</button>
        </div>
        </form>
    </mat-step>
    <!-- Last Setp -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-button mat-raised-button (click)="save(basic, secondry);" [disabled]="basic.invalid || secondry.invalid">Submit</button>
        <button mat-button (click)="stepper.reset()" mat-raised-button>Reset</button>
        </div>
    </mat-step>
        </mat-stepper>

        <!-- Animations for form -->
    <div class="image-shift">
        <div id="img-one" class="slide-active"><img src="../../../../assets/images/event.jpg" alt="Event One"></div>
    </div>
    </div>
</div>
S