<div class="container">
    <mat-card>
        <button mat-raised-button (click)="isEditable = !isEditable">
            {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
            </button>
            <mat-stepper linear #stepper>
            <mat-step [stepControl]="customer" [editable]="isEditable">
                <form [formGroup]="customer">
                <ng-template matStepLabel>Personal Details</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input type="text" required matInput formControlName="name">
                    <mat-error class="error" *ngIf="customer.controls['name'].hasError('required')">Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input type="text" required matInput formControlName="city" required>
                    <mat-error class="error" *ngIf="customer.controls['city'].hasError('required')">City is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" required matInput formControlName="email">
                        <mat-error class="error" *ngIf="customer.controls['email'].hasError('required')">Email is required</mat-error>
                        <mat-error class="error" *ngIf="customer.controls['email'].hasError('pattern')"> Enter a valid email address</mat-error>    
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" required matInput formControlName="password">
                        <mat-error class="error" *ngIf="customer.controls['password'].hasError('required')">Password is required</mat-error>
                        <mat-error class="error" *ngIf="customer.controls['password'].hasError('pattern')">Password should have min 8 letter password, with at least a symbol,
            upper and lower case letters and a number</mat-error>    
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirm Password</mat-label>
                        <input type="password" required matInput formControlName="cnfPassword">
                        <mat-error class="error" *ngIf="customer.controls['cnfPassword'].hasError('required')">Confirm Password is required</mat-error>
                        <mat-error class="error" *ngIf="customer.get('cnfPassword')?.hasError('noMatch')">Password & Confirm Password should match</mat-error>  
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext [disabled]="customer.invalid">Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="interest" [editable]="isEditable">
                <form [formGroup]="interest">
                <ng-template matStepLabel>Intrestes </ng-template>  
                <section class="interest-section" [formGroup]="interest">
                    <h4>Select your interest:</h4>
                    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
                    <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
                    <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>
                </section>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
                </form>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
            </mat-stepper>
    </mat-card>
    

    <!-- <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
            <form [formGroup]="customer" (submit)="saveCustomer(customer)">
             
                <div>
                    <button type="submit" mat-raised-button color="primary" [disabled]="customer.invalid">Sign Up</button>
                    <button type="reset" mat-raised-button color="primary">Reset</button>
                </div>
            </form>
    </mat-card-content>
</mat-card> -->
</div>