<p>hii</p>
<p>{{event.eventName}}</p>
<img src="data:image/png;base64,{{event.image}}" alt="" style="width:250px; height:250px "class="tile-image">
<p>{{event.description}}</p>
<mat-card-footer>
    <button mat-raised-button color="warn" (click)="book()">Book now</button>
</mat-card-footer>

    <!-- <div *ngFor="let event of events"> -->
        <!-- <mat-card-title > -->
            <!-- {{event.eventName}}
            <br>
           
            <button mat-icon-button>
                <mat-icon class="icon">share</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="icon">favorite</mat-icon>
            </button> -->
        <!-- </mat-card-title>
        <mat-card-content> -->

            <!-- <img src="data:image/png;base64,{{event.image}}" alt="" style="width:250px; height:250px "class="tile-image">
            <br>
            {{event.description}} -->
        <!-- </mat-card-content> -->
        <!-- <mat-card-footer>
            <button mat-raised-button color="warn" (click)="book()">Book now</button>
        </mat-card-footer> -->
    <!-- </div> -->
