<div id="back-img">
    <div id="img">
        <div id="part1">
            <img src="data:image/png;base64,{{event.image}}" alt="" style="width:500px; height:500px ">
        </div>
        <div id="part2">
            <h1 id="name">{{event.eventName}}</h1>

            <h1 id="des">{{event.description}}</h1>
            <span id="rating">
                <span class="fa fa-star checked"></span><span> {{event.rating}}</span>

            </span>
            <br>
            <span id="date"><i class='far fa-calendar-alt' style='font-size:24px'></i> {{event.date}}</span>
            <h1 id="time"><i class='far fa-clock' style='font-size:22px'></i>  {{event.time}}</h1>
            <mat-card-footer id="button">
                <button mat-raised-button (click)="book()">Book now</button>
            </mat-card-footer>
        </div>
    </div>
</div>