<div id="back-img">
    <div id="img">
        <div id="part1">
            <img src="data:image/png;base64,{{event.image}}" alt="" style="width:500px; height:500px ">
        </div>
        <div id="part2">
            <h1 id="h1">{{event.eventName}}</h1>

            <h1 id="h1">{{event.description}}</h1>
            <span id="h1">
                <mat-icon>star</mat-icon><span>{{event.rating}}</span>

            </span>
            <br>
            <p id="h1">{{event.date}}</p>
            <p id="h1">{{event.time}}</p>
            <mat-card-footer id="h1">
                <button mat-raised-button color="warn" (click)="book()">Book now</button>
            </mat-card-footer>
        </div>
    </div>
</div>
