#img{
    display: flex;
    padding: 30px;
    padding-bottom: 150px;
    border: 10px solid black;
}#h1{
    font-size:40px;
    padding: 20px;
    
    
   
}#back-img{
    background-image: url(../../assets/images/top-gun.jpg);
}
#part2{
    word-wrap: break-word;
}

