<div class="footer">
    <div class="footer-content">
        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Signup</a></li>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Terms and Condition</a></li>
            </ul>
        </div>
        <div class="subscribe">
            <input type="text" placeholder="Enter your email address">
            <button type="button">Subscribe</button>
        </div>
    </div>
    <div class="footer-credits">
        <p>Copyrights All Rights Are Reserved <a href="/home">Ticket Hunt</a></p>
    </div>
</div>