<div class="container">
    <h1>Add an Event</h1>
    <div class="main">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>

        <!-- First form  -->

    <mat-step [stepControl]="basic">
        <form [formGroup]="basic" id="event-info">
        <ng-template matStepLabel>Fill out event information</ng-template>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="name" required>
        </mat-form-field>
         <mat-form-field appearance="fill">
             <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
         <mat-form-field appearance="fill">
            <mat-label>Time</mat-label>
            <input matInput placeholder="MM:HH" formControlName="time" required>
        </mat-form-field>
         <mat-form-field appearance="fill">
            <mat-label>Venue</mat-label>
            <input matInput placeholder="Last name, First name" formControlName="venue" required>
        </mat-form-field>
        <div>
            <button mat-button matStepperNext mat-raised-button (click)="slideToggler()">Next</button>
        </div>
        </form>
    </mat-step>
    <!-- Second form -->
    <mat-step [stepControl]="secondry">
        <form [formGroup]="secondry" id="event-info">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <div class="upload-image">
            <label for="">Select an image</label>
            <input type="file" class="file-input" formControlName="image">
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Oragnizer name</mat-label>
            <input matInput placeholder="Organizer name" required formControlName="organizer">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Total Seats</mat-label>
            <input matInput placeholder="eg 62" required formControlName="seats">
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious mat-raised-button>Back</button>
            <button mat-button matStepperNext mat-raised-button (click)="slideToggler()">Next</button>
        </div>
        </form>
    </mat-step>
    <!-- Last Setp -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
        <button mat-button mat-raised-button (click)="save(basic, secondry);">Submit</button>
        <button mat-button (click)="stepper.reset()" mat-raised-button>Reset</button>
        </div>
    </mat-step>
        </mat-stepper>

        <!-- Animations for form -->
    <div class="image-shift">
        <div id="img-one" class="slide-active"><img src="../../../../assets/images/event.jpg" alt="Event One"></div>
        <div id="img-two">Image two</div>
    </div>
    </div>
</div>
S