
<h1>Your Booking History</h1>



<div class="container">
    <table class="table" >
      <thead>
        <tr>
          <th>Show Name</th>
          <th>Show Venue</th>
          <th>Show Date</th>
          <th>Booked Seats</th>
          <th>Price</th>
          <th>Date Of Booking</th>
        </tr>
      </thead>
      <br>
      <ng-container  *ngFor="let data of bookingData;">
        <tr  *ngIf="data.seatList && data.seatList.length > 0 && data.seatList[0].seatNumber">
          <td>{{ data.eventName }}</td>
          <td>{{ data.venue }}</td>
          <td>{{ data.date }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let seat of data.seatList; let i = index">
          <td></td>
          <td></td>
          <td></td>
          <td>{{ seat.seatNumber }}</td>
          <td>{{ seat.price }}</td>
          <td>{{ seat.dateOfBooking | date }}</td>
          <td>
            <button
              (click)="delete(seat.seatNumber)"
              style="margin-left: 20px"
              mat-button color="warn"
            >
              Cancel Booking
            </button>
          </td>
        </tr>
        <br>
      </ng-container>
    </table>
</div>
