<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="menu" color="primary" title="Menu">
    <!-- <mat-icon>menu</mat-icon> -->
  </button>
  <span class="title" routerLink="/home">
    <img src="../../assets/images/logo.png" alt="" width="180px">
  </span>
  <!-- Search bar -->
  <div class="search">
    <div class="location">
      <mat-icon class="ico" *ngIf="city==''" (click)="getLocation()">location_on</mat-icon>
      <mat-icon class="ico" color="warn" *ngIf="city!=''">location_on</mat-icon>
      <input type="text" placeholder="{{ city }}" class="location-input" (keyup)="getCity()" id="city">
    </div>
    <div class="input">
      <input type="text" name="search" placeholder="Search for Events and Movies..." class="search-input">
      <mat-icon class="iocn">search</mat-icon>
    </div>
  </div>
  <span class="spacer"></span>
  <!-- Navbar for for event manager -->
  <nav class="">
    <a type="button" (click)="toggle()" *ngIf="isLoggedIn"><span>Event</span><mat-icon
        class="icon">expand_more</mat-icon></a>
    <div id="event-menu" class="menu-inactive">
      <ul>
        <li><a routerLink="event/create">Add Event</a></li>
        <li><a routerLink="event/view">View Events</a></li>
      </ul>
    </div>
    <a routerLink="/"></a>
  </nav>
  <button *ngIf="!isLoggedIn" mat-icon-button class="example-icon favorite-icon" aria-label="login" color="primary"
    title="Login" routerLink="/login">
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="isLoggedIn" mat-icon-button class="example-icon favorite-icon" aria-label="login" color="primary"
    title="Login" routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="isLoggedIn" mat-icon-button class="example-icon favorite-icon" aria-label="login" color="primary"
    title="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>