<div class="container">
    <mat-card>
        <mat-card-title>
            Avatar: The way of Water <br>
            <span>2022 </span>
            <button mat-icon-button>
                <mat-icon class="icon">share</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="icon">favorite</mat-icon>
            </button>
        </mat-card-title>
        <mat-card-content>
            <img src="../../../assets/images/avatar.jpg" alt="Avatar" class="tile-image">
            <p title="Plot">Jake Sully and Ney'tiri have formed a family and are doing everything to stay together. However, they must leave their home and explore the regions of Pandora. When an ancient threat resurfaces, Jake must fight a difficult war against the humans.</p>
            <span class="genre"><mat-chip>Action</mat-chip><mat-chip>Si-Fi</mat-chip><mat-chip>Drama</mat-chip></span>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="warn">Book now</button>
        </mat-card-footer>
    </mat-card>
</div>