<div class="container">
  <div class="popular">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="blur"
        style="background-image: url(https://images.unsplash.com/photo-1533138610295-13ac1d8cdb09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y2luZW1hdGljJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80)">
      </div>
      <div class="event-pop" *ngFor="let movie of carry" id="event-pop">
        <img src="data:image/png;base64, {{movie.image}}" class="banner" alt="" />
        <div class="info">
          <p class="title">{{movie.eventName}}</p>
          <p class="box">Release Date: {{movie.date}}</p>
          <p class="box">Rating: {{movie.rating}}</p>
        </div>
      </div>
      <div class="event-grid">
        <div class="event-grid-item" *ngFor="let event of movies | slice:0:4;" id="{{event.eventId}}-card">
          <img src="data:image/png;base64,{{event.image}}" class="banner" alt="" />
          <div class="info">
            <p class="box">{{event.eventName}}</p>
            <p class="box">Release Date: {{event.date}}</p>
            <p class="box">Rating: {{event.rating}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="recommended">
    <h1>Recommendations</h1>
    <hr>

    <!-- For Showing All movies -->
    <br>
    <h1>Trending Movies</h1>
    <section class="">
      <div class="container-fluid">
        <div class="slider-wrap">
          <div class="slider-main">
            <div class="event" *ngFor="let event of events1" (click)="navigateToMovieDetail(event.eventId)">
              <div class="card">
                <div class="card-body">
                  <img src="data:image/png;base64,{{event.image}}" width="165px" height="140px" alt="" />

                  <div id="name">
                    <b>{{event.eventName}}</b>
                  </div>
                  <div>Release Date - {{event.date}}</div>
                  <div>Rating - {{event.rating}}</div>


                </div>
              </div>


            </div>
          </div>
          <div class="button-area">
            <button type="button" mat-raised-button class="prev preButton" appPrev>
              <mat-icon>arrow_back_ios</mat-icon>
            </button>
            <button type="button" mat-raised-button class="next nexButton" appNext>
              <mat-icon>arrow_forward_ios</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <br>
      <br>
      <hr>


      <!-- For Showing All events -->
      <h1>Events Happening Near You</h1>
      <section class="">
        <div class="container-fluid">
          <div class="slider-wrap">
            <div class="slider-main">
              <div class="event" *ngFor="let event of events2" (click)="navigateToMovieDetail(event.eventId)">

                <div class="card">
                  <div class="card-body">
                    <img src="data:image/png;base64,{{event.image}}" width="165px" height="140px" alt="" />
                    <div id="name">
                      <b>{{event.eventName}}</b>
                    </div>

                    <div>Show Date - {{event.date}}</div>
                    <!-- <div>Rating:{{event.rating}}</div> -->
                  </div>
                </div>


              </div>
            </div>
            <div class="button-area">
              <button type="button" mat-raised-button class="prev preButton" appPrev>
                <mat-icon>arrow_back_ios</mat-icon>
              </button>
              <button type="button" mat-raised-button class="next nexButton" appNext>
                <mat-icon>arrow_forward_ios</mat-icon>
              </button>
            </div>
          </div>
        </div>