<div class="container">
    <div class="popular">
        <h1>Popular now !</h1>
        <div class="tiles">
           <a routerLink="/tile/{{movie?.id}}" *ngFor="let movie of movies">
              <div class="tile">
                <img src="../../../assets/images/{{movie?.cover}}.jpg" alt="Avatar" class="tile-image">
                <span class="tile-title">{{movie?.name}}</span><br>
                <span class="tile-year">{{movie?.year}}</span>
            </div>
           </a>
        </div>
    </div>
    <div class="recommended">
        <h1>Recomended</h1>
        <div class="tiles">
             <div class="tile">
                <img src="../../../assets/images/avatar.jpg" alt="Avatar" class="tile-image">
                <span class="tile-title">Avatar: The Way of Water</span><br>
                <span class="tile-year">2022</span>
            </div>
            <div class="tile">
                <img src="../../../assets/images/avatar.jpg" alt="Avatar" class="tile-image">
                <span class="tile-title">Avatar: The Way of Water</span><br>
                <span class="tile-year">2022</span>
            </div>
            <div class="tile">
                <img src="../../../assets/images/avatar.jpg" alt="Avatar" class="tile-image">
                <span class="tile-title">Avatar: The Way of Water</span><br>
                <span class="tile-year">2022</span>
            </div>
            <div class="tile">
                <img src="../../../assets/images/avatar.jpg" alt="Avatar" class="tile-image">
                <span class="tile-title">Avatar: The Way of Water</span><br>
                <span class="tile-year">2022</span>
            </div>
        </div>
    </div>
    
    <br>
    <h1>All event</h1>
    <div class="all" id="all">
        <div *ngFor="let event of events1">
           
            <div class="event-image" >
                <img src="data:image/png;base64,{{event.image}}" alt="" style="width:250px; height:250px ">
            </div>
            <h1>{{event.eventName}}</h1>
            <h3>{{event.description}}</h3>
           
        </div>
    </div>

    <h1>All Movie</h1>
    <div class="all" id="all">
        <div *ngFor="let event of events2">
           
            <div class="event-image" >
                <img src="data:image/png;base64,{{event.image}}" alt="" style="width:250px; height:250px ">
            </div>
            <h1>{{event.eventName}}</h1>
            <h3>{{event.description}}</h3>
           
        </div>
    </div>

   
    
            

        