


    <form (ngSubmit)="onSubmit()" [formGroup]="addEvent">
        <div id="card">
            <div>
               
                <mat-form-field class="field" appearance="outline">
                    <mat-label>Event Id</mat-label>
                    <input matInput placeholder="Event Id" formControlName="eventId" id="eventId">
                    <mat-error *ngIf="eventId?.hasError('required')">
                        eventId is Someone.
                    </mat-error>
                    <mat-error *ngIf="eventId?.hasError('pattern')">
                        eventId name should start with capital.
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" id="email">
                <mat-error *ngIf="email?.hasError('required')">
                    email is Compulsory.
                </mat-error>
                <mat-error *ngIf="email?.hasError('minlength')">
                    email should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Event Name</mat-label>
                <input matInput placeholder="Event Name" formControlName="eventName" id="eventName">
                <mat-error *ngIf="eventName?.hasError('required')">
                    event Name is Compulsory.
                </mat-error>
                <mat-error *ngIf="eventName?.hasError('minlength')">
                    event name should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>
           
            <mat-form-field appearance="outline">
                <mat-label>Organizer Name</mat-label>
                <input matInput placeholder="Organizer Name" formControlName="organizerName" id="organizerName">
                <mat-error *ngIf="organizerName?.hasError('required')">
                    Organizer Name is Compulsory.
                </mat-error>
                <mat-error *ngIf="organizerName?.hasError('minlength')">
                    Organizer Name should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Date</mat-label>
                <input matInput placeholder="Date" formControlName="date" id="date">
                <mat-error *ngIf="date?.hasError('required')">
                    date is Compulsory.
                </mat-error>
                <mat-error *ngIf="date?.hasError('minlength')">
                    date should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Time</mat-label>
                <input matInput placeholder="Time" formControlName="time" id="time">
                <mat-error *ngIf="time?.hasError('required')">
                    Time is Compulsory.
                </mat-error>
                <mat-error *ngIf="time?.hasError('minlength')">
                    Time should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Venue</mat-label>
                <input matInput placeholder="Venue" formControlName="venue" id="venue">
                <mat-error *ngIf="venue?.hasError('required')">
                    Venue is Compulsory.
                </mat-error>
                <mat-error *ngIf="venue?.hasError('minlength')">
                    Venue should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Total Seats</mat-label>
                <input matInput placeholder="Total Seats" formControlName="totalSeat" id="totalSeat">
                <mat-error *ngIf="totalSeat?.hasError('required')">
                    totalSeat is Compulsory.
                </mat-error>
                <mat-error *ngIf="totalSeat?.hasError('minlength')">
                    totalSeat should have minimum of 10 characters atleast.
                </mat-error>
            </mat-form-field>

            

            <div id="submit">
                <button mat-raised-button type="submit" color="primary" [disabled]="!addEvent.valid">Submit</button>
                <button mat-raised-button type="reset" color="accent">Reset</button>
            </div>

        </div>
    </form>

